---
const { isRounded = false} = Astro.props;
---
<button class:list={
    ["bg-blue-400", 
    "text-white",
    "px-2",
    "py-1",
    "leading-3",
    "pt-1",
    "pb-2",
    "hover:bg-blue-600",
    "transition-colors",
    {rounded: isRounded}
]}
class="flex items-center gap-3 h-10"
>
    <slot name="text" />
    <div class="bg-red-400 text-white rounded-full p-1 ml-2 size-6 flex items-center justify-center">
      <slot name="icon" />  
    </div>
    
</button>